## Imports

In [1]:
import pandas as pd
import random
random.seed(10)
import numpy as np
from sklearn.utils import shuffle
import os

print pd.__version__

0.20.3

In [2]:
# read csv to a df object
DATA_DIR = '../data'

df = pd.read_csv(os.path.abspath(os.path.join(DATA_DIR, 'day1/iris.csv')))
df = shuffle(df)
df.head(5)

     feat1  feat2  feat3  feat4           class
17     5.1    3.5    1.4    0.3     Iris-setosa
101    5.8    2.7    5.1    1.9  Iris-virginica
104    6.5    3.0    5.8    2.2  Iris-virginica
37     4.9    3.1    1.5    0.1     Iris-setosa
47     4.6    3.2    1.4    0.2     Iris-setosa

## Inducing Missing Values

In [3]:
# we will intentionally creating missing values in feat3 column
# thereafter will notice the affect in accuraccy based on the imputation methods
index_missing = [random.randint(0, df.shape[0]) for i in xrange(0, 10)]

for i in index_missing:
    df.set_value(index=i, col='feat3', value=np.nan)

In [4]:
# only feeat3 column has null values; since we introduced it there only
df.isnull().sum()

feat1     0
feat2     0
feat3    10
feat4     0
class     0
dtype: int64

In [5]:
## Method: 1
### Removing the rows

In [6]:
## Method: 2
### Removing the column

In [7]:
## Method: 3
### Filling missing values with Zeros

In [8]:
# Method: 4
### Filling missing values with Global Mean

In [9]:
# Method: 5
### Filling missing values with Global Median

In [10]:
# Method: 6
### Filling missing values with Global Max

In [11]:
# Method: 7
### Filling missing values with Global Min

In [12]:
# Method: 8
### Filling missing values with Class Mean

In [13]:
# Method: 9
### Filling missing values with Class Median

In [14]:
# Method: 10
### Filling missing values with Class Max

In [15]:
# Method: 11
### Filling missing values with Class Min

In [16]:
# Method: 12
### Filling missing values by training a regressor model